<!doctype html>
<html class="no-js" lang="en-US">
<head>
    <title>GOW Examples</title>
</head>
<body>
<ul>
    <li><a href="https://localhost:8080/text/plain" target="_blank">Text Plain</a></li>
    <li><a href="https://localhost:8080/text/html" target="_blank">Text HTML</a></li>
    <li><a href="https://localhost:8080/download" target="_blank">Static Resource</a></li>
    <li><a href="https://localhost:8080/json/superman/1234" target="_blank">JSON with vars path</a></li>
    <li><a href="https://localhost:8080/tmpl/sse" target="_blank">Server-Sent Events</a></li>
</ul>
</body>
</html>
